body {
    user-select: none;
}
.fix-height{
    max-height:300px;/* or any height you want */
    overflow-y:auto
}

.fix-height::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.fix-height::-webkit-scrollbar-thumb
{
	background-color: #F90;
	background-image: -webkit-linear-gradient(45deg,
                    rgba(255, 255, 255, .2) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba(255, 255, 255, .2) 50%,
                    rgba(255, 255, 255, .2) 75%,
                    transparent 75%,
                    transparent)
}
.nice-scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}
.nice-scroll::-webkit-scrollbar-thumb
{
	background-color: #F90;
	background-image: -webkit-linear-gradient(45deg,
                    rgba(255, 255, 255, .2) 25%,
                    transparent 25%,
                    transparent 50%,
                    rgba(255, 255, 255, .2) 50%,
                    rgba(255, 255, 255, .2) 75%,
                    transparent 75%,
                    transparent)
}
